<div class="page-content">
  {%- render 'breadcrumbs' -%}

  <h1 class="text-h1" style="margin-bottom:var(--space-xl);" data-reveal>{{ page.title }}</h1>

  <div class="rte" data-reveal data-reveal-delay="1">
    {{ page.content }}
  </div>
</div>
